.no-js body{
  display:none;
}
.js body{
  display:block;
}
.custom-content * {
  margin: 0;
  padding: 0;
}
.custom-content #header {
  height: 100px;
  background: #f60;
  border: 1px #000 solid;
  box-sizing: border-box;
  padding: 3px;
}
.custom-content .container {
  margin: 0 auto;
  width: 960px;
  position: relative;
}
.custom-content .cont {
  width: 470px;
  border: 1px solid #000;
  position: absolute;
  top: 10px;
  padding: 3px;
  box-sizing: border-box;
}
.workers {
  width:750px;
  height:200px;
}