.dragdrop .rot1 {
  position: relative;
  width: 200px;
  height: 100px;
  background-color: skyblue;
}
.dragdrop .over {
  background-color: grey;
  border: 2px dashed #000;
}
.dragdrop .success {
  background-color: grey;
  border: 2px solid #000;
}