.resp_show * {
  margin: 0;
  padding: 0;
}
.resp_show #contain {
  width: 100%;
}
.resp_show #contain .next {
  float: right;
  width: 35px;
  height: 111px;
  position: relative;
  z-index: 1200;
  margin-right: -9px;
}
.resp_show #contain .prev {
  float: left;
  width: 35px;
  height: 111px;
  position: relative;
  z-index: 1200;
  margin-left: -9px;
}
.resp_show div#wrapper {
  width: 1280px;
  left: 40px;
  right: 40px;
  height: 111px;
  position: absolute;
  text-align: justify;
  margin-top: 10px;
  overflow: hidden;
}
.resp_show div#innerWrapper {
  height: 111px;
}
.resp_show div.cont {
  position: relative;
  float: left;
  width: 1274px;
}
.resp_show div#options img {
  position: absolute;
  width: 118px;
  height: 39px;
}
