.validation{
  min-height: 400px;
  min-width: 500px;
}

.validation #myid li {
  text-decoration: none;
  list-style: none;
  color: #000;
}
.validation #subm {
  width: 100px;
  color: #000;
}
.validation #fore .vald {
  background-color: #fff;
  padding: 5px;
  border: 1px solid #000;
  color: #000;
}

.validation #fore td {
  padding: 5px;
}
.validation #fore td:nth-child(1) {
  width:20%;
}
.validation #fore td:nth-child(2) {
  width:80%;
}
.validation #fore td:first-child {
  text-align: right;
}
.validation #fore td:last-child {
  text-align: left;
}
.validation input[type=text] {
  color:#000;
}
