.webfilters #imag, .webfilters #optionsfilters {
  float: left;
}
.webfilters #imag img {
  width: 400px;
  border: 2px solid #000;
}
.webfilters #optionsfilters {
  text-align: left;
  padding: 10px;
  padding-top: 0;
  margin: 4px;
  margin-left: 20px;
}
.webfilters #webfilters {
  margin-left: 80px;
}
.webfilters #optionsfilters td, .webfilters #optionsfilters tr {
  padding: 0;
}
.webfilters #optionsfilters td:first-child {
  text-align: right;
}